/* Footer */
.footer-credits {
  color: var(--cremita);
}
.footer-menu,
.footer-nav-widgets-wrapper {

  a {
    color: var(--cremita) !important;
    font-weight: 400;
  }
}

.footer-widgets-outer-wrapper {
  border-top-color: var(--cremita);
}
.widget_text p,
.widget_text ol,
.widget_text ul,
.widget_text dl,
.widget_text dt,
.widget-content .rssSummary {
  font-family: var(--font-sans) !important;
}

.widget {
  h2 {
    color: var(--doradito);
    font-family: var(--font-serif);
    margin-top: 0;
    font-weight: 400;
  }
}

.footer-social {
  a {
    background-color: var(--cafenegro)!important;
  }
}
