/* Colores */
:root {
  --cafe: #6d3137;
  --cafemaduro: #8d2942;
  --cafenegro: #412126;
  --cremita: #f5efe1;
  --gris: #666;
  --turquesa: #45818e;
  --doradito: #d6c3a5;
  --font-serif: "EB Garamond", "Garamond", "Georgia", serif;
  --font-sans: "Nunito Sans", Helvetica, Arial, sans-serif;
}

/* Custom colors */

.has-cafe-color {
  color: var(--cafe);
}

.has-cafe-background-color {
  background-color: var(--cafe);
}

.has-cafemaduro-color {
  color: var(--cafemaduro);
}

.has-cafemaduro-background-color {
  background-color: var(--cafemaduro);
}
.has-cafenegro-color {
  color: var(--cafenegro);
}

.has-cafenegro-background-color {
  background-color: var(--cafenegro);
}

.has-cremita-color {
  color: var(--cremita);
}

.has-cremita-background-color {
  background-color: var(--cremita);
}

.has-turquesa-color {
  color: var(--turquesa);
}

.has-turquesa-background-color {
  background-color: var(--turquesa);
}

.has-doradito-color {
  color: var(--doradito);
}

.has-doradito-background-color {
  background-color: var(--doradito);
}

.has-blanco-color {
  color: #fff;
}

.has-blanco-background-color {
  background-color: #fff;
}

/* Disenho general */

body {
  font-family: var(--font-sans);
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.01em;
  --wp--preset--color--accent: #8d2942; /* Accent color */
}

.hidden {
  display: none;
}

/* Tipo */

.font-serif {
  font-family: "EB Garamond", "Garamond", "Georgia", serif;
}
.font-sans {
  font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
}

h1 {
  font-family: var(--font-serif);
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  letter-spacing: 0.01em;
}
.site-title {
  font-size: 2.3rem;
}
@media (min-width: 700px) {
  .site-title {
    font-size: 3rem;
  }
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
h2.comment-reply-title {
  font-family: var(--font-serif);
  font-weight: 400;
  color: var(--cafe);
}

.entry-content cite,
.entry-content figcaption,
.entry-content table,
.entry-content address,
.entry-content .wp-caption-text,
.entry-content .wp-block-file {
  font-family: var(--font-sans);
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.01em;
}

.entry-content {
  font-family: var(--font-sans);
}

/* Botones */
.wp-block-button a {
  background-color: var(--cafe);
  color: white; /* prevent theme css from overriding color */
  border-radius: 0.25em;
  letter-spacing: 0.03em;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: var(--cafenegro);
    color: white;
    text-decoration: none;
  }
}
.wp-block-button a.no-border-radius {
  border-radius: 0;
}
.is-style-outline .wp-block-button__link {
  background-color: transparent;
  color: var(--cafe) !important;
  border: 2px solid var(--cafe);

  &:hover {
    background-color: var(--cafe);
    color: white !important;
    text-decoration: none;
  }
}

/* Links */
body:not(.overlay-header) .primary-menu > li > a,
body:not(.overlay-header) .primary-menu > li > .icon,
.modal-menu a,
.footer-menu a,
.footer-widgets a,
#site-footer .wp-block-button.is-style-outline,
.singular:not(.overlay-header) .entry-header a,
.archive-header a,
.header-footer-group .color-accent,
.header-footer-group .color-accent-hover:hover {
  color: var(--cafemaduro);
}

body:not(.overlay-header) .primary-menu > li > a,
body:not(.overlay-header) .primary-menu > li > .icon,
.modal-menu a {
  color: var(--cremita) !important;
}

// blockquote
blockquote {
  p {
    line-height: 1.65 !important;
  }
}

.wp-block-pullquote {
  &::before {
    content: "";
    background-size: 1.5rem;
    color: var(--cafemaduro) !important;
    background-color: var(--cremita) !important;
    border: 2px solid var(--doradito);
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512' fill='%236d3137'%3E%3Cpath d='M48 0H336C362.5 0 384 21.49 384 48V487.7C384 501.1 373.1 512 359.7 512C354.7 512 349.8 510.5 345.7 507.6L192 400L38.28 507.6C34.19 510.5 29.32 512 24.33 512C10.89 512 0 501.1 0 487.7V48C0 21.49 21.49 0 48 0z'/%3E%3C/svg%3E");
  }

  &.alignleft,
  &.alignright,
  &.aligncenter,
  &.is-style-solid-color {
    blockquote {
      p {
        font-size: 1.1em;
        font-weight: 400;
      }
    }
  }

  &.alignwide {
    blockquote {
      p {
        font-size: 1.5em;
      }
    }
  }

  &.alignfull {
    blockquote {
      p {
        font-size: 2em;
      }
    }
  }

  blockquote {
    p {
      font-weight: 400;
      font-size: 1.1em;
    }
  }
}
