/* Colores */
:root {
  --cafe: #6d3137;
  --cafemaduro: #8d2942;
  --cafenegro: #412126;
  --cremita: #f5efe1;
  --gris: #666;
  --turquesa: #45818e;
  --doradito: #d6c3a5;
  --font-serif: "EB Garamond", "Garamond", "Georgia", serif;
  --font-sans: "Nunito Sans", Helvetica, Arial, sans-serif;
}

/* Custom colors */

.has-cafe-color {
  color: var(--cafe);
}

.has-cafe-background-color {
  background-color: var(--cafe);
}

.has-cafemaduro-color {
  color: var(--cafemaduro);
}

.has-cafemaduro-background-color {
  background-color: var(--cafemaduro);
}
.has-cafenegro-color {
  color: var(--cafenegro);
}

.has-cafenegro-background-color {
  background-color: var(--cafenegro);
}

.has-cremita-color {
  color: var(--cremita);
}

.has-cremita-background-color {
  background-color: var(--cremita);
}

.has-turquesa-color {
  color: var(--turquesa);
}

.has-turquesa-background-color {
  background-color: var(--turquesa);
}

.has-doradito-color {
  color: var(--doradito);
}

.has-doradito-background-color {
  background-color: var(--doradito);
}

.has-blanco-color {
  color: #fff;
}

.has-blanco-background-color {
  background-color: #fff;
}

/* Disenho general */

body {
  font-family: var(--font-sans);
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.01em;
  --wp--preset--color--accent: #8d2942; /* Accent color */
}

.hidden {
  display: none;
}

/* Tipo */

.font-serif {
  font-family: "EB Garamond", "Garamond", "Georgia", serif;
}
.font-sans {
  font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
}

h1 {
  font-family: var(--font-serif);
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  letter-spacing: 0.01em;
}
.site-title {
  font-size: 2.3rem;
}
@media (min-width: 700px) {
  .site-title {
    font-size: 3rem;
  }
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
h2.comment-reply-title {
  font-family: var(--font-serif);
  font-weight: 400;
  color: var(--cafe);
}

.entry-content cite,
.entry-content figcaption,
.entry-content table,
.entry-content address,
.entry-content .wp-caption-text,
.entry-content .wp-block-file {
  font-family: var(--font-sans);
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.01em;
}

.entry-content {
  font-family: var(--font-sans);
}

/* Botones */
.wp-block-button a {
  background-color: var(--cafe);
  color: white; /* prevent theme css from overriding color */
  border-radius: 0.25em;
  letter-spacing: 0.03em;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: var(--cafenegro);
    color: white;
    text-decoration: none;
  }
}
.wp-block-button a.no-border-radius {
  border-radius: 0;
}
.is-style-outline .wp-block-button__link {
  background-color: transparent;
  color: var(--cafe) !important;
  border: 2px solid var(--cafe);

  &:hover {
    background-color: var(--cafe);
    color: white !important;
    text-decoration: none;
  }
}

/* Links */
body:not(.overlay-header) .primary-menu > li > a,
body:not(.overlay-header) .primary-menu > li > .icon,
.modal-menu a,
.footer-menu a,
.footer-widgets a,
#site-footer .wp-block-button.is-style-outline,
.singular:not(.overlay-header) .entry-header a,
.archive-header a,
.header-footer-group .color-accent,
.header-footer-group .color-accent-hover:hover {
  color: var(--cafemaduro);
}

body:not(.overlay-header) .primary-menu > li > a,
body:not(.overlay-header) .primary-menu > li > .icon,
.modal-menu a {
  color: var(--cremita) !important;
}

.wp-block-pullquote,
.wp-block-blockquote,
.wp-block-quote {
  p {
    font-family: var(--font-sans) !important;
    font-weight: 400 !important;
  }
}

// Overrides

input,
textarea,
button,
.button,
.faux-button,
.wp-block-button__link,
.wp-block-file__button,
.entry-content .wp-block-archives *,
.entry-content .wp-block-categories *,
.entry-content .wp-block-latest-posts *,
.entry-content .wp-block-latest-comments * {
  font-family: var(--font-sans);
}
@supports (font-variation-settings: normal) {
  input,
  textarea,
  button,
  .button,
  .faux-button,
  .faux-button.more-link,
  .wp-block-button__link,
  .wp-block-file__button {
    font-family: var(--font-sans);
  }
}

.wp-block-table.is-style-stripes tbody tr:nth-child(2n+1) {
  background-color: var(--cremita)!important;
}
