/* header */
.logo-home,
.logo-link {
  display: block;
  background: var(--cafe);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin-top: 0;
  border-left: 4px solid var(--cremita);
  border-right: 4px solid var(--cremita);
  text-decoration: none;

  @media screen and (min-width: 1000px) {
    margin-left: 50px;
    margin-top: 10px;
  }
}
.logo-home {
  border-bottom: none;
  position: relative;
  padding: 25px 25px 0;
}
.logo-home::after {
  content: "";
  display: block;
  width: calc(100% + 8px);
  height: 50px;
  background: var(--cafe);
  position: absolute;
  bottom: -49px;
  left: -4px;
  z-index: 1;
  clip-path: polygon(50% 100%, 100% 20%, 100% 0, 0 0, 0 20%);
  border-left: 4px solid var(--cremita);
  border-right: 4px solid var(--cremita);
  box-shadow: 4px 5px 5px 0 rgba(0, 0, 0, 0.1);

  @media screen and (min-width: 1000px) {
    width: calc(100% + 8px);
    height: 75px;
    bottom: -74px;
    clip-path: polygon(50% 100%, 100% 50%, 100% 0, 0 0, 0 50%);
    border-left: 4px solid var(--cremita);
    border-right: 4px solid var(--cremita);
  }
}
.logo-home .logo-svg,
.logo-link .logo-svg {
  width: 100px; /* tamaño en móviles */
  height: auto;
  z-index: 99;

  @media screen and (min-width: 1000px) {
    width: 150px; /* tamaño en tablets */
  }
}

.header-inner {
  padding: 0;
}

body:not(.overlay-header) #site-header {
  /* background-color: var(--cafe); */
  background-position: center center;
}

body:not(.overlay-header) .header-inner .toggle-wrapper::before {
  background-color: white!important;
}

/* Animacion */
.flag {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform-style: preserve3d;
  -webkit-transform-origin: 0 250px;
  -webkit-transform: translate3d(0, 0, 0) rotateZ(0deg) rotateX(-20deg)
    skew(-2deg, 0deg);
  transform-origin: top left;

  -webkit-animation-name: wave;
  -webkit-animation-duration: 8s;
  -webkit-animation-timing-function: cubic-bezier(0.16, 0.14, 0.82, 0.73);
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  &:nth-child(odd) {
    -webkit-animation-delay: 1s;
  }
}
@-webkit-keyframes wave {
  0% {
    box-shadow: 4px 5px 5px 0 rgba(0, 0, 0, 0.1);
    -webkit-transform: translate3d(0, 0, 0) rotateZ(0deg) rotateX(20deg)
      skew(2deg, 0deg);
  }

  20% {
    box-shadow: 4px 5px 15px 0 rgba(0, 0, 0, 0.1);
    -webkit-transform: translate3d(0, 0, 0) rotateZ(0deg) rotateX(0deg)
      skew(0deg, 0deg);
  }

  40% {
    box-shadow: 4px 5px 20px 0 rgba(0, 0, 0, 0.4);
    -webkit-transform: translate3d(0, 0, 0) rotateZ(0deg) rotateX(-20deg)
      skew(-2deg, 0deg);
  }

  60% {
    box-shadow: 4px 5px 5px 0 rgba(0, 0, 0, 0.1);
    -webkit-transform: translate3d(0, 0, 0) rotateZ(0deg) rotateX(0deg)
      skew(0deg, 0deg);
  }

  80% {
    box-shadow: 4px 5px 5px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: translate3d(0, 0, 0) rotateZ(0deg) rotateX(12deg)
      skew(1deg, 0deg);
  }

  100% {
    box-shadow: 4px 5px 5px 0 rgba(0, 0, 0, 0.1);
    -webkit-transform: translate3d(0, 0, 0) rotateZ(0deg) rotateX(20deg)
      skew(2deg, 0deg);
  }
}


/*--------------------------------------------------------------
## Cintillo simple UNED
--------------------------------------------------------------*/
.contenedor_cintillo {
	background: #00519e;
	width: 100%;
	min-height: 40px;
  z-index: 99!important;
}

.cintillo {
	max-width: 168rem;
  padding: 0 1em;
	margin: 0 auto;
}

.cintillo-svg {
	float: left;
	height: 20px;
	margin-right: 10px;
	padding-top: 8px;
	width: 80px;
}

.cintillo-tx {
	margin-bottom: 10px;
	color: #FFF;
	font-family: var(--font-sans);
	font-size: 16.2px;
	padding-top: 8px;
}

.cintillo-tx a {
	text-decoration: none;
	color: #FFF;

	&:hover {
		color: #FFF;
	}
}

@media (max-width: 991px) {
  .cintillo {
    padding: 0;
  }
	.cintillo-svg {
		margin-left: 20px;
		float: left;
	}
}

@media (max-width: 480px) {
	.cintillo-tx {
		display: none;
	}
}

// cintillo 2:
// .contenedor_cintillo {background: #00519e;width: 100%;min-height:40px;}
// .cintillo {max-width: 1140px;margin: 0 auto;}
// .cintillo-svg {float: left;height: 20px;margin-right: 10px;padding-top: 8px;width: 80px;}
// .cintillo-tx {margin-bottom: 10px;color: #FFF;font-family: 'Open Sans', sans-serif;font-size: 1em;padding-top: 8px;}
// .cintillo-tx a {text-decoration: none; color: #FFF;}

// @media (max-width: 991px) {
// .cintillo-svg {margin-left: 20px;float: left;}
// }

// @media (max-width: 480px) {
// .cintillo-tx {display: none;}
// }